/* Add your own styles */
.center_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}